body {
    background-color: aquamarine;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#num1 {
    display: block;
    margin: auto;
    padding: 0.2%;
    border-radius: 50rem;
    margin-bottom: 0.5%;
    margin-top: 0.4%;
}


#num2{
    display: block;
    margin: auto;
    padding: 0.2%;
    border-radius: 50rem;
    margin-bottom: 0.5%;
}


#num3{
    display: block;
    margin: auto;
    padding: 0.2%;
    border-radius: 50rem;
}

#maxCalculated {
    margin-top: 0.5%;
    border-radius: 50rem;
    background-color: red;
    font-family: inherit;
    font-size: 1.5rem;
}

#resetBtn {
    margin-left: 23%;
    border-radius: 50rem;
    background-color: yellowgreen;
    font-family: inherit;
    font-size: 1rem;
}