@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(142deg, rgb(29, 253, 111) 20%, rgb(55, 255, 208) 100%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.car-form {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px black;
  margin: 0 20px;
}

.car-table {
  background: white;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px black;
  margin: 0 20px;
}

.car-form h2,
.car-table h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.inputStyle {
  padding: 10px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.btnSubmit {
  margin-top: 20px;
  text-align: center;
}

.btn {
  height: 30px;
  width: 100px;
  border: none;
  background: rgb(183, 235, 39);
  border-radius: 15px;
  font-size: 16px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.actions {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 255, 255, .2);
}

.tableGet {
  border-collapse: collapse;
  width: 100%;
}

.tableGet th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.tableGet th {
  background: rgba(144, 69, 188, 0.505);
}

#error {
  color: red;
  font-size: 14px;
}

/* Responsiveness for screens with width <= 768px */
@media (max-width: 768px) {
  .car-form,
  .car-table {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
  }

  .car-form h2,
  .car-table h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .inputStyle {
    font-size: 14px;
  }

  .btn {
    height: 25px;
    width: 80px;
    font-size: 14px;
  }

  .tableGet th,
  td {
    padding: 8px;
    font-size: 12px;
  }

  .actions {
    font-size: 16px;
  }

  #error {
    font-size: 12px;
  }
}

/* Responsiveness for screens with width <= 576px */
@media (max-width: 576px) {
  .car-form,
  .car-table {
    margin: 10px 0;
    padding: 10px;
  }

  .car-form h2,
  .car-table h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .inputStyle {
    font-size: 12px;
  }

  .btn {
    height: 20px;
    width: 70px;
    font-size: 12px;
  }

  .tableGet th,
  .tableGet td {
    padding: 6px;
    font-size: 10px;
  }

  .actions {
    font-size: 12px;
  }

  #error {
    font-size: 10px;
  }
}